<h1 class="text-center">投稿一覧</h1>
<div class="container container-top">
  <div>
    <% @documents.each do |document| %>
      <td>
        <%= l document.created_at %>に投稿
        <h2><%= document.title %></h2>
      </td>
      <td>
        <%= link_to "記事詳細", document, class: "btn btn-outline-primary btn-sm" %>
        <%= link_to "記事編集", edit_document_path(document), class: "btn btn-outline-primary btn-sm" %>
        <%= link_to "削除", document, method: :delete, data: { confirm: "削除しますか?" }, class: "btn btn-outline-primary btn-sm"  %>
         <hr>
      </td>
    <% end %>
  </div>
<%= paginate @documents %>
</div>
