<h1>投稿一覧</h1>
<table>
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">タイトル</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= l document.created_at %>に投稿</td>
      </tr>
      <tr>
        <td><%= document.title %></td>
        <td>
          <%= link_to "記事詳細", document %>
          <%= link_to "記事編集", edit_document_path(document) %>
          <%= link_to "削除", document, method: :delete, data: { confirm: "削除しますか?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
